<ActionBar title="">
    <NavigationButton android.systemIcon="ic_menu_back" text="Terug" (tap)="logout()" ></NavigationButton>
    <ActionItem text="Back" (tap)="logout()" ios.position="left" visibility="{{ _ios ? 'visible' : 'collapse' }}"></ActionItem>
    <ActionItem [text]="userName + ' wilt koffie'" ios.position="right"></ActionItem>
</ActionBar>

<GridLayout orientation="vertical" width="100%" backgroundColor="white" tkExampleTitle tkToggleNavButton>
    <RadListView #listView [items]="items" separatorColor="transparent" pullToRefresh="true"
        (pullToRefreshInitiated)="onPullToRefreshInitiated($event)">
        <ng-template tkListItemTemplate let-item="item">
            <StackLayout class="main">
                <StackLayout class="content">
                    <Image stretch="aspectFill" class="card-img" [src]="item.src"></Image>

                    <GridLayout width="100%" columns="auto,*" rows="auto,auto" class="" verticalAlignment="center">
                        <Label row="0" col="1" class="item-name" textwrap="true" verticalAlignment="bottom"
                            horizontalAlignment="left" [text]="item.name"></Label>
                        <GridLayout row="1" col="1" rows="auto" columns="auto,auto,auto">
                            <Label row="0" col="0" class="item-category" textwrap="true" verticalAlignment="top"
                                horizontalAlignment="left" [text]="item.description"></Label>

                        </GridLayout>
                    </GridLayout>

                    <StackLayout width="100%" marginTop="5" class="line"></StackLayout>

                    <GridLayout columns="auto,*,auto,auto" rows="auto">
                        <GridLayout col="2" rows="auto" columns="auto,auto" (tap)="toggleAccept(item, false)"
                            marginRight="15">
                            <Label col="0" row="0" class="like-icon fa default" text="&#xf08a;"></Label>
                            <Label col="1" row="0" class="layout" text="Weigeren"></Label>
                        </GridLayout>

                        <StackLayout col="3" orientation="horizontal" (tap)="toggleAccept(item, true)">
                            <Label class="like-icon fa default" text="&#xf004;"></Label>
                            <Label class="layout" text="Accepteren"></Label>
                        </StackLayout>
                    </GridLayout>
                </StackLayout>

                <StackLayout width="100%" class="lineBreak"></StackLayout>
            </StackLayout>
        </ng-template>
    </RadListView>

    <AbsoluteLayout horizontalAlignment="right" verticalAlignment="top">
        <Button text="+" class="float-btn" (tap)="add()"></Button>
    </AbsoluteLayout>
</GridLayout>
